.filters {
  label {
    display: none;
  }
}

.activeFilter {
  select {
    background-color: #3366ff;
    border-color: #3366ff;
    color: #fff;

    &:hover,
    &:active {
      background-color: #2952cc !important;
      border-color: #2b52cf !important;
    }
  }

  svg {
    fill: #fff;
  }
}

// Increase side-panel z-index to overlay everything in city24
*[evergreen-portal-container] *[data-state] {
  z-index: 10000;
}
